.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(231, 231, 231, 0.815); /* Fallback color */
    background-color: grey(0,0,0,0.4); /* Black w/ opacity */

  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: whitesmoke;
    border: 1px solid #888;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 3em;
    width: 40%;
  }


  /* The Close Button */
  .close {
    color: rgb(92, 210, 250);
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: lightblue;
    text-decoration: none;
    cursor: pointer;
  }
  .create{
      text-align: center;
  }


  label{
    font-weight: 200;
    
  }
  .addContactForm input{
    padding: 0.8em;
  }
  textarea{
    padding: 0.8em;
  }

  .addContactForm{
    padding: 2em;
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
  }

  textarea{
    resize: none;
  }
  .item1{
    grid-column: 1 / span 2;
  }
  .detailCont{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .detailCont > p {
    flex: 0 50%;
  }
  p{
    padding: 1em;
  }